.flex-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  
  .flex-container > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  }
  