.jumbotron {
    background-color: rgb(186, 211, 236);
    max-width: 100%;
  }
  .dex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
  }
  img {
    border-radius: 8px;
    max-width: 300px;
  }
  h1 {
    font-family: "Archivo Black";
    font-size: 60px;
  }
  span {
    font-family: "Allerta Stencil";
    font-size: 60px;
    color: red;
    font-weight: bolder;
  }
  
  h3 {
    font-family: "Amaranth";
    font-size: 36px;
    font-weight: bolder;
  }
  hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  }
  